body {
  font-family: Arial;
  background: #f4f6f9;
}

.center-card {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  margin: 5px;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background: #2c7be5;
  color: white;
  padding: 10px;
}
